extends ./layout/index.pug
block contenido 
        main.container.mt-5
          .row
            .col-md-5 
               img(src="/img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7

               h1 #{pagina}

               blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .listado-iconos 
            .container.mt-5.py-5.text-center
               .row   
                  .col-md-4 
                      img(src="img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                      h2 Seguridad
                      p Expertos en seguridad de hoteles y restaurantes dirán que la estética es importante, pero la seguridad no debe ser sacrificada por el hecho de verse bien. Las obstrucciones no deben estar presentes a lo largo de los puntos de entrada y salida. 
                  .col-md-4
                       img(src="img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                       h2 Destinos
                       p Todo el mundo necesita un sitio donde reposar cuando está cansado. Para aquellos que visiten Cajamarca, Costa del sol Wyndham Cajamarca es una magnífica elección para descansar. Conocido por su ambiente romántico y su proximidad a fantásticos restaurantes y atracciones, Costa del sol Wyndham Cajamarca te ayuda a disfrutar de lo mejor de Cajamarca.
                  .col-md-4
                       img(src="img/icono_precios.svg", alt="" class="img-fluid mb-4")
                       h2 Los Mejores Precios                        
                       p Todo el mundo necesita un sitio donde reposar cuando está cansado. Para aquellos que visiten Cajamarca, Costa del sol Wyndham Cajamarca es una magnífica elección para descansar. Conocido por su ambiente romántico y su proximidad a fantásticos restaurantes y atracciones, Costa del sol Wyndham Cajamarca te ayuda a disfrutar de lo mejor de Cajamarca.